<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <p>
                <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
            </p>
            <h1>{{ todo_list_detail.name }}</h1>
            <h2>Task</h2>
            <table>
                <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                </thead>
                <tbody>
                    {% for job in todo_list_detail.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' job.id %}">{{ job.task }}</a></td>
                        <td>
                            {{ job.due_date | date:"F d, Y" }}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
